# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# project documentation
PROJECT_STRUCTURE.md

.claude/

.dev/

# backups
content/backups/

# naver commerce
docs/00_dev_docs/Naver-commerce/config-naver.md